*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    background-color: rgba(194, 193, 193, 0.349
    );
}
body{
    background-image: url(Images/bread.jpg);
    background-size: cover;
}