* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 130px;
    background-color: rgba(194, 193, 193, 0.349);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    font-size: 40px;
    z-index: 1000;

}

.list {
    list-style: none;
    display: flex;
    margin-right: 500px;
    margin-bottom: 15px;
    font-size: 30px;
}

.list li {
    margin: 0 15px;
}

.list li a:hover {
    width: 100%;
    border-bottom: 4px solid rgb(148, 148, 34);
}
.glow{
    width: 100%;
    height: 4px;
    position: absolute;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.425) 0%, rgb(139, 69, 19) 50%, rgba(255, 255, 255, 0.712) 100%);
    top: 126px;
}
.glow::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.425) 0%, rgb(139, 69, 19) 50%, rgba(255, 255, 255, 0.712) 100%);
    animation: laser 5s infinite;
}
@keyframes laser{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
/* Section 1 */
.pricesection {
    height: 950px;
    background-image: url(Images/bread.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 130px;
}

.box {
    width: 500px;
    height: 300px;
    margin-left: 500px;
    margin-top: 40px;
}

h1 {
    font-size: 50px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.prgone {
    font-size: 22px;
    color: white;
}

.btnone {
    width: 200px;
    background-color: #b47b48;
    padding: 25px;
    border-radius: 20px;
    color: aliceblue;
    border: none;
    font-size: 16px;
    margin-top: 20px;
    position: absolute;
    top: 500px;
    left: 500px;
    text-align: center;
    cursor: pointer;
}
.modal{
    display: none;
    background-color: #20202388;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.modal-content{
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 45px;
    position: absolute;
    left: 550px;
    top: 300px;
    display: flex;
    background-repeat: no-repeat;
}
.inp{ 
    display: block;
    margin: 50PX;
    border: none;
}
.sig{
margin-left: 50px
}
.bread-box{ 
    color: black;
}
.breadh1{
color: black;
width: 300px;
font-weight: lighter;
}
#breadbcg{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 200px;
    left: 300px;
    background-image: url(Images/modal-bread.jpg);
    background-repeat: no-repeat;

}
/* when the modal window is open */
.modal-checkbox:checked + .modal{
    display: flex;
}
.modal-checkbox{
    display: none;
}
/* button to close */
.close{
    color: black;
    position: absolute;
    left: 750px;
    top: 20px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.box2 {
    width: 300px;
    height: 300px;
    padding: 15px;
    border: 2px;
    border-radius: 30px;
    background-color: #202023;
    margin: 100px;
}

.box2:hover {
    animation-name: fade;
    animation: fade 1s;
}

.container2 {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

p {
    color: white;
}

h3 {
    font-size: 25px;
}

@keyframes fade {
    from {
        background-color: #202023;
    }

    to {
        background-color: rgb(212, 157, 76);
    }
}

.btn {
    margin-bottom: 40px;
}

.container2 {
    display: flex;
    flex-wrap: wrap;

}

.box2 {
    margin: 4px;
    display: flex;
}

.price {
    height: 180px;
    width: 100px;
    color: aliceblue;
    margin-top: 40px;

}

.img {
    margin-top: 30px;
}

img {
    width: 140px;
}

.btn {
    background-color: #b47b48;
    padding: 7px;
    border-radius: 7px;
    margin-top: 50px;
}

.link {
    text-decoration: none;
    color: aliceblue;
}

/* Section 2 */
.black-box {
    background-color: #202023;
    color: #fff;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
}

.item {
    text-align: center;
    margin: 10px;
}

.item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.item p {
    margin-top: 10px;
}

.kup {
    width: 180px;
    background-color: #b47b48;
    padding: 20px;
    border-radius: 50px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

/* Section 3 */
.botmenu {
    background-color: black;
    width: 100%;
    height: 900px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Images/gfbvb.png);
    background-repeat: repeat-x;
}

.align-container {
    justify-content: space-around;
    display: flex;
    height: auto;
}

.align {
    width: 200px;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align img {
    height: auto;
}

#align2 {
    margin-left: 500px;
}

#align3 {
    margin-top: 430px;
}

.title {
    text-align: center;
}

.caption {
    width: 100%;
    background-color: #837e7ee8;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    color: aliceblue;
    font-weight: 400
}

.menuimg {
    height: auto;
    width: 300px;
}

/* Section 4 */
.section4 {
    background-image: url(Images/bckgrd.jpeg);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
}

.why {
    margin-left: 400px;
    color: #fff;
    font-size: 35px;
}

.icon {
    margin-top: 350px;
    margin-left: 600px;
}

/* Footer */
footer {
    width: 100%;
    height: 700px;
    background-color: #202023;
}

.where {
    margin-left: 300px;
    width: 300px;
}

.smalldiv {
    display: flex;
    margin-left: 300px;
}

.how {
    margin-left: 50px;
    height: 50px;
}

.when {
    margin-left: 150px;
}

.info {
    display: flexbox;
    margin-top: 100px;
    margin-right: 100pxpx;

}

.list {
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-left: 700px;
    list-style: none;
}